body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    background-image: url("https://i.pinimg.com/originals/33/6e/cc/336eccdfd0f5a053a89f8705e4561356.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
.form-container {
    background: #fff;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container h2 {
    margin-bottom: 20px;
}
.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #011d45;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #011d45;
}
.form-container .recovery {
    background-color: #f66860;
}
.form-container .recovery:hover {
    background-color: #cc0200;
}