body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.info {
    margin-bottom: 10px;
}
#profile-info {
    margin-bottom: 30px;
}

.btn-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
#back-btn {
justify-content: space-between;
text-decoration: none;
border:none;
}
#logout-btn{
    justify-content: space-between;
}
#logout-btn {
    background-color: #dd7b74;
}
#logout-btn:hover {
    background-color: red;
}

#back-btn:hover {
    background-color: #45a049;
    color:white;
}