/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@font-face {
font-family: "Righteous";
src: url("../fonts/BalooChettan-Regular.ttf");
src: url("../fonts/BalooChettan-Regular.ttf");
}
/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
     box-sizing: border-box !important;
     transition: ease all 0.5s;
}

html {
     scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #000;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h2 {
     font-size: 22px
}

h3 {
     font-size: 18px
}

h4 {
     font-size: 16px
}

h5 {
     font-size: 14px
}

h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

ul,
li,
ol {
     margin: 0px;
     padding: 0px;
     list-style: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: black;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.paddind_bottom_0 {
     padding-bottom: 0 !important;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 0px;
}

.padding_0{
     padding: 0px;
}
/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-image: url(https://design4users.com/wp-content/uploads/2019/03/slumber_app_ui_animation_tubik.gif);
    height: auto;
    background-size: 100%;
    padding: 0px 0px 20px 0px;
}
.bg-light {
    background-color: transparent !important;
}
.logo {
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
    font-size: 45px;
    font-weight: 800;
}
.logo_mobile{
    width: 100%;
    float: left;
    text-align: center;
    padding-bottom: 20px;
}
.mobile_menu{
    width: 100%;
    float: left;
    display: none;
}
.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}
.navbar-nav { align-items: center; }
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid #fff;
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-item {
    position: relative;
}

.menu_main {
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.menu_main ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-flex;
}
.menu_main li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #080808;
    border-radius: 40px;
}
.menu_main li a {
    color: #080808;
    padding: 10px 20px;
    border-radius: 10px;
}
.menu_main li a:hover{
    color: #ffffff;
    background-color: #9a0ba8;
}
.menu_main li.active a{
    color: #ffffff;
    background-color: #9a0ba8;
}

.menu_main li a:hover img{
    filter: invert(100%);
}


.mb-lg-0, .my-lg-0 {
    margin-bottom: 0!important;
    width: 20%;
    float: left;
}

.header_main {
    width: 100%;
    background-image: url(../images/header-bg.png);
    background-size: 100%;
    padding: 10px 0px 37px 0px;
}

/* header section end */

/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
}

.banner_taital {
    width: 100%;
    float: left;
    font-size: 80px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.banner_text {
    width: 40%;
    margin: 0 auto;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
}

.read_bt {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}
.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color:#9a0ba8;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    margin-top: 50px;
    font-weight: bold;
}
.read_bt a:hover{
    background-color: #ffffff;
    color: #000;
}

#main_slider a.carousel-control-prev {
    position: absolute;
    left: 120px;
    top: 25%;
}
#main_slider a.carousel-control-next {
    position: absolute;
    right: 120px;
    top: 25%;
}
#main_slider .carousel-control-prev, 
#main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    border: 2px solid #ffffff;
    background: transparent !important;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 100%;
}

/* banner section end */
/* background bg section start */
.background_bg{
    width: 100%;
    float: left;
    background-image: url(../images/background-bg.png);
    height: auto;
}
/* background bg section end */

/* watchs section start */

.watchs_section{
    width: 100%;
    float: left; 
    height: auto;
    background-size: 100%; 
    padding-bottom: 90px;  
}

.watchs_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #f1f0ef;
    font-weight: bold;
    text-transform: uppercase;
}
h1.watchs_taital::after {
    content: '';
    position: absolute;
    width: 400px;
    background-color: #fff;
    height: 2px;
    left: initial;
    right: 0px;
    bottom: 40px;
}

.watchs_section_2{
    width: 100%;
    float: left;
}
.watchs_section_3{
    width: 100%;
    float: left;
    padding-top: 70px;
}

.watchs_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
   margin: 0px;
}

.uni_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f1f0ef;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 70px;
}
.rate_text {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f1f0ef;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 15px;
}
.image_1{
    width: 90%;
    float: left;
}
.image_2{
    width: 100%;
    float: right;
    text-align: right;
}

.read_bt1 {
    width: 170px;
    float: left;
    margin-top: 15px;
}
.read_bt1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    background-color: #9a0ba8;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
}
.read_bt1 a:hover{
    color: #000;
    background-color: #ffffff;
}

.seemore_bt {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.seemore_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
}
.seemore_bt a:hover{
    color: #ffffff;
    background-color: #9a0ba8;
}

/* watchs section end */

/* about section start */

.about_section{
    width: 100%;
    float: left;
    padding-bottom: 90px;
}
.about_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    padding: 70px 0px 20px 0px;
}
.about_section_2 {
    width: 100%;
    float: left;
}
.about_section_3 {
    width: 100%;
    float: left;
    padding-top: 90px;
}
.border_main{
    width: 100%;
    border: 2px solid #fefefe;
    border-radius: 3px;
    padding: 40px 0px;
}
.border_main img{
height:166px;
}
.image_4 {
    width: 100%;
    text-align: center;
    min-height: 140px;
}

/* about section end */

/* testimonial section start */
.testimonial_section{
    width: 100%;
    float: left;
    background-image: url(https://f.vividscreen.info/soft/238310e34cbb9c80928ff38346792747/IPhone-1680x1050.jpg   );
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.testimonial_section_2{
    width: 100%;
    float: left;
    padding-top: 70px;
}
.box_main {
    width: 100%;
    border: 2px solid #fefefe;
    border-radius: 30px;
    padding: 100px 60px;
}
.testimonial_text{
    width: 100%;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    margin: 0px;
}
.client_main {
    width: 100%;
    float: left;
    padding-top: 40px;
}
.client_left{
    width: 30%;
    float: left;
}
.client_right{
    width: 70%;
    float: left;
}
.client_img{
    width: 100%;
    float: left;
}
.client_name{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #f1f0ef;
    padding-top: 40px;
    font-weight: bold; 
    text-transform: uppercase;
}
.customer_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #9a0ba8;
    font-weight: bold;
    margin: 0px;
    text-transform: uppercase;
}

.seemore_bt_1 {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}
.seemore_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0px;
    border-radius: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 90px;
}

.seemore_bt_1 a:hover {
    color: #ffffff;
    background-color:#9a0ba8;
}
/* testimonial section end */

/* contact section start */

.contact_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-image: url(../images/contact-bg.png);
    height: auto;
    background-size: 100%;
}
.contact_taital {
    width: 100%;
    float: left;
    color: #32ca0a;
    font-weight: bold;
    font-size: 46px;
}

.contact_section_2 {
    width: 100%;
    float: left;
}
.mail_section_1 {
    width: 84%;
    float: right;
}
.mail_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #989999;
    border: 0px !important;
    background-color: #ffffff !important;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    border-radius: 40px;
}
input.mail_text::placeholder {
    color: #696868;
}
.massage-bt {
    color: #696868;
    width: 100%;
    height: 110px;
    font-size: 18px;
    border: 0px !important;
    background-color: #ffffff !important;
    padding: 40px 20px 20px 20px;
    margin-top: 30px;
    border-radius: 40px;
}
textarea#comment::placeholder {
    color: #696868;
}
/* Style for order form */
.order_form_section {
    padding: 50px 0;
}


.order_form {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background: #f9f9f9;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form_input,
.form_textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form_textarea {
    resize: none;
}

.form_submit {
    text-align: center;
}

.submit_btn {
    padding: 10px 20px;
    background-color:#9a0ba8;
color: white !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit_btn:hover {
    background-color: black;
}
.send_bt {
    width: 170px;
    float: left;
    margin-top: 40px;
}
.send_bt a {
    width: 100%;
    float: left;
    background-color: #9a0ba8;
    color: #e1e7d8;
    text-align: center;
    padding: 15px 0px;
    font-size: 16px;
    border-radius: 40px;
    font-weight: bold;
}
.send_bt a:hover {
    background-color: #ffffff;
    color: #696868;
}
.map_section {
    width: 100%;
    float: left;
    padding-top: 70px;
}
.padding_right_0{
    padding-right: 0px;
}
/* contact section end */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-image: url(../images/footer-bg.png);
    height: auto;
    padding-top: 90px;
    background-size: 100% 100%;
    padding-bottom: 30px;
    background-repeat: no-repeat;
}
.follow_text{
    width: 100%;
    float: left;
    font-size: 24px;
    color: #080807;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.social_icon {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    text-align: center;
}
.social_icon li {
    float: left;
    padding: 30px 15px;
}

.location_main {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
.location_left {
    width: 33.3%;
    float: left;
}
.location_middle {
    width: 33.3%;
    float: left;
}
.location_right {
    width: 33.3%;
    float: left;
}
.call_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #5e5e5e;
}
.call_text a {
    color: #5e5e5e;
}
.call_text a:hover {
    color: #a40514;
}
.call_padding {
    padding-left: 15px;
}

/* footer section end */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    color: #1c1b1b;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
.copyright_text a{
    color: #1c1b1b;
}
.copyright_text a:hover{
    color: #b60213;
}








